.main_friend_page{
    position: fixed;
    width: 100%;
    padding: 10px 20px;
}
.main_profile{
    display: flex;
    padding: 0px 0px 15px 0px;
    border-bottom: 3px solid #f7f7f7;
}
.main_profile_icon{
    width: 70px;
    height: 70px;
    border-radius: 30%;
}
.main_profile_box{
    display:inline-block;
    padding: 10px;
}
.main_profile_message{
    padding: 10px 0px;
    color: dimgray;
    font-size: small;
}
.main_plus_friend{
    padding: 0px 0px 10px 0px;
    border-bottom: 3px solid #f7f7f7;
    display: flex;
}
.main_plus_friend_title{
    padding: 10px 0px 10px 0px;
    color: dimgray;
}
.main_friend_icon{
    width: 50px;
    height: 50px;
    border-radius: 40%;
}
.main_plus_friend_name{
    padding: 15px 10px;
}
.main_friend{
    display: flex;
}
.main_friend_number{
    padding: 10px 0px 10px 0px;
    color: dimgray;
}
.main_friend_box{
    padding: 5px 10px;
}
.main_friend_message{
    padding: 5px 0px;
    color: dimgray;
}
.main_friend_song{
    position: absolute;
    right: 10px;
    display: flex;
    margin: 3px 3px;
    padding: 7px 7px;
    font-size: 12px;
    color: #444444;
    border: 2px solid #2db400;
    border-radius: 15px;
}
.main_friend_song_icon{
    margin: 0px 0px 0px 5px;
}